<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Reactive Forms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create">Create Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="checkList">CheckList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="group">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="groupProperty">Group Property</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="picture">Pictures</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
