<div class="container">
  <h2>Group Data</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Group Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of groupData">
        <th scope="row">{{item._id}}</th>
        <td>{{item.groupName}}
          <tr *ngFor="let ele of formData[item.id]">
            <td *ngFor="let gp of ele[0]">{{gp}}</td>
            <td *ngFor="let cl of ele[1]">{{cl}}</td>
            <td *ngFor="let p of ele[2]">{{p}}</td>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>
